<div data-controller="tabs"
     data-tabs-active-tab-class="border-blue-500 text-blue-600"
     data-tabs-inactive-tab-class="border-transparent text-neutral-500 hover:border-neutral-300 hover:text-neutral-700 dark:hover:text-neutral-300">

  <%= select_tag nil, options_for_select(component.tabs), class: "sm:hidden mb-4", data: {action: "tabs#change"} %>

  <div class="hidden sm:block mb-4 border-b border-gray-200">
    <nav class="-mb-px flex space-x-8" aria-label="Tabs">
      <% component.tabs.each do |tab| %>
        <a href="#"
           data-tabs-target="tab"
           data-action="click->tabs#change:prevent"
           class="whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">
          <%= tab %>
        </a>
      <% end %>
    </nav>
  </div>

  <% component.panels.each do |panel| %>
    <div class="hidden" data-tabs-target="panel">
      <%= panel %>
    </div>
  <% end %>
</div>
