<div class="card mb-5">
  <%= link_to(script_short_url(script), data: {turbolinks: false}, class: "link-unstyled") do %>
    <div class="px-0 card-body">
      <div class="flex flex-row justify-between">
        <div class="text-lg"><%= script.title %></div>
        <%= script.run_count %>
      </div>
      <%= script.description %>
    </div>
  <% end %>
</div>