<div class="card border mb-5">
  <div class="card-body">
    <%= link_to script.title, script_short_url(script), class: "text-lg", data: { turbolinks: false } %>
    <%= script.description %>
  </div>
</div>