<div class="container mx-auto">
  <h1 class="h2 my-6 text-center"><%= t(".title") %></h1>
</div>

<div class="bg-white border border-gray-200 dark:bg-gray-900 dark:border-gray-700 rounded-lg sm:rounded-md sm:max-w-2xl sm:mx-auto">
  <ul class="divide-y divide-gray-200 dark:divide-gray-700">
    <%= render partial: "notifications/notification", collection: @notifications, cached: true %>
  </ul>

  <% if @notifications.empty? %>
    <div class="px-4 py-3 text-center text-gray-700 dark:text-gray-200/75"><%= t(".empty_placeholder") %></div>
  <% end %>
</div>

<% if @pagy.pages > 1 %>
  <div class="text-center mt-8">
    <%== pagy_nav(@pagy) %>
  </div>
<% end %>
