<%= tag.div class: "z-10 mr-4 inline-flex items-center align-middle leading-none rounded no-underline hover:bg-white dark:hover:bg-gray-900",
  data: {
    controller: "notifications",
    notifications_account_id_value: current_account.id,
    notifications_account_unread_value: @account_unread,
    notifications_total_unread_value: @total_unread,
  } do %>
  <div class="relative" data-controller="dropdown">
    <%# Marks all notifications as read when menu opens by default. Remove the notifications Stimulus actions to disable this. %>
    <%= tag.button class: "inline-block select-none",
      aria: { label: "Notifications" },
      data: {
        action: "click->notifications#open touch->notifications#open click->dropdown#toggle click@window->dropdown#hide touch->dropdown#toggle touch@window->dropdown#hide"
      } do %>
      <span class="appearance-none flex items-center relative text-gray-500 hover:text-gray-800 dark:text-slate-200 dark:hover:text-slate-300">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.0" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
        </svg>
        <span data-notifications-target="badge" class="hidden absolute top-0 right-0 block h-2 w-2 transform -translate-y-1/2 translate-x-1/2 rounded-full text-white shadow-solid bg-red-500"></span>
      </span>
    <% end %>
    <div data-dropdown-target="menu"
         data-transition-enter="transition ease-out duration-200"
         data-transition-enter-from="opacity-0 translate-y-1"
         data-transition-enter-to="opacity-100 translate-y-0"
         data-transition-leave="transition ease-in duration-150"
         data-transition-leave-from="opacity-100 translate-y-0"
         data-transition-leave-to="opacity-0 translate-y-1"
         class="lg:absolute lg:right-0 mt-2 hidden z-20">
      <div class="bg-white border border-gray-200 dark:bg-gray-900 dark:border-gray-700 shadow rounded overflow-hidden sm:w-96">
        <%= turbo_frame_tag "notifications", class: "divide-y divide-gray-200 dark:divide-gray-700", loading: :lazy, target: :_top, src: notifications_path, data: { notifications_target: "list" } do %>
          <p class="p-4"><i class="fas fa-circle-notch fa-spin text-gray-400 mr-1"></i> Loading...</p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
