<div id="build" class="w-full my-16 px-10">
  <h1>
    Turn scripts into full-blown applications
  </h1>
  <div class="text-xl mt-4">
    No frontend experience needed.
  </div>
  <div class="h-[500px] py-3">
    <editor-component props-json='<%= Script.new.to_json %>' />
  </div>
</div>