<div id="build" class="w-full my-16 px-10">
  <div class="text-center mb-4">
    <h1 class="text-6xl">
      Turn <span class="text-success">scripts</span> into <span class="text-error">full-blown applications</span>
    </h1>
    <div class="text-2xl italic mt-4">
      No frontend experience needed.
    </div>
  </div>
  <div class="h-[500px] py-3">
    <editor-component props-json='<%= {initialScript: Script.new(code: StaticController::INITIAL_CODE), heightSetting: "inherit"}.to_json %>'/>
  </div>
</div>