<%= turbo_frame_tag "search_results" do %>
  <% scripts.each do |script| %>
    <%= render "scripts/card", script: script %>
  <% end %>

  <% if @pagy.pages > 1 %>
    <div class="my-6 text-center">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
  <% if scripts.empty? %>
    <div class="mb-3">No results for <span class="italic">"<%= params[:q] %>"</span>.</div>
    <div>Why not <a href="/scripts/new" class="btn btn-primary btn-xs">create one</a>?</div>

  <% end %>
<% end %>