<%= turbo_frame_tag "search_results" do %>
  <% scripts.each do |script| %>
    <%= render "scripts/card", script: script %>
  <% end %>

  <% if @pagy.pages > 1 %>
    <div class="my-6 text-center">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
<% end %>