<% content_for :section_title, "Action Mailbox" %>

<p class="text-xl">Action Mailbox provides inbound email processing for features like "reply by email".</p>

<%= h2_with_anchor "Installing Action Mailbox" %>
<p>You can run <code>rails action_mailbox:install</code> to install Action Mailbox in your application. Don't forget to run <code>rails db:migrate</code> afterwards to run the migrations</p>

<%= h2_with_anchor "Creating Mailboxes" %>
<p>You can run <code>rails g mailbox my_mailbox</code> to create a new Action Mailbox...mailbox. This will generate the Ruby class for processing inbound emails.</p>
<p>Check out the <%= link_to "GoRails screencast episodes on Action Mailbox", "https://gorails.com/episodes/tagged/ActionMailbox", target: :_blank, class: "text-blue-500" %> and the <%= link_to "Action Mailbox Rails Guide", "https://edgeguides.rubyonrails.org/action_mailbox_basics.html", target: :_blank, class: "text-blue-500" %> for more information on how to use Action Mailbox.</p>
