<% content_for :section_title, "Background Workers" %>

<p class="text-xl">Jumpstart Pro makes adding background workers easy.</p>

<%= h2_with_anchor "Choosing Your Background Workers" %>
<p>The Jumpstart Pro config admin lets you select your preferred tool for processing background jobs.</p>

<ul>
  <li>Async - Default, no dependencies</li>
  <li>Sidekiq - Recommended, requires Redis</li>
  <li>Sneakers - Requires RabbitMQ</li>
  <li>Delayed Job</li>
  <li>Sucker Punch - doesn't require a separate process, but doesn't allow scheduling</li>
  <li>Que - Requires PostgreSQL</li>
</ul>

<%= h2_with_anchor "Active Job" %>
<p>After selecting your background worker of choice and saving your config, Jumpstart Pro will add the gem and configure ActiveJob to use it as the default for all environments.</p>

<%= h2_with_anchor "Sidekiq" %>
<p>If Sidekiq is enabled, we automatically enable the Sidekiq Web UI, restrict it to only admin users and add links to it in the navigation.</p>
