<% content_for :section_title, "Credentials" %>

<p class="text-xl">Jumpstart Pro uses Rails environment credentials to separate out credentials for each environment into its own encrypted file.</p>

<%= h2_with_anchor "Environment Credentials" %>
<p>Rails introduced "environment credentials" which we strongly encourage using.</p>
<p>You can share the keys for each environment with only the users / environments that need to know them, which improves the security of your credentials. This also helps make sure you don't accidentally use development keys in production or vice versa.</p>

<div class="not-prose">
  <pre><code>rails credentials:edit --environment=development
rails credentials:edit --environment=staging
rails credentials:edit --environment=production</code></pre>
</div>

<p><strong>Protip:</strong> We recommend adding an <code>EDITOR</code> environment variable to your <code>~/.bashrc</code> or <code>~/.zshrc</code> file to automatically set this when you open a terminal. This way you won't be required to prepend the <code>rails credentials:edit</code> command with <code>EDITOR="..."</code> every time.</p>

<div class="not-prose">
  <pre><code>export EDITOR="vim" # Use Vim as default editor
export EDITOR="mvim -f" # Use MacVim as default editor
export EDITOR="code --wait" # Use VSCode as default editor
export EDITOR="atom --wait" # Use Atom as default editor
export EDITOR="mate --wait" # Use TextMate as default editor</code></pre>
</div>

<%= h2_with_anchor "Deploying Rails Credentials" %>
<p>Add your <code>config/credentials/staging.key</code> or <code>config/credentials/production.key</code> to your environment variables as <code>RAILS_MASTER_KEY</code>. This will let Rails decrypt your credentials based upon the <code>RAILS_ENV</code> that is set.</p>

<%= h2_with_anchor "Organizing Credentials" %>
<p>When you create your credentials file for the first time, the contents will look like this to make adding your API keys really easy.</p>

<div class="not-prose">
  <pre><code><%= Jumpstart::Credentials.template %></code></pre>
</div>
