<% content_for :section_title, "Slideover" %>

<%= h2_with_anchor "Slideover" %>
<p>Slideovers are commonly used for contextual modals or navigation. Slideovers are implemented using the Stimulus <code>slideover_controller</code>.</p>

<%= render "jumpstart/docs/snippet" do %>
<%= render SlideoverComponent.new do |component| %>
  <button class="btn btn-white" data-action="slideover#show:prevent">Open Slideover</button>

  <% component.capture_for :panel do %>
    <h4 class="mt-0">This is the panel content.</h4>
  <% end %>
<% end %>
<% end %>
