<% content_for :section_title, "Upgrades" %>

<p class="mtext-xl text-gray-700 dark:text-gray-200 leading-normal">You can clone Jumpstart Pro from our Git repository and merge updates at any time.</p>

<h2>Using Jumpstart Pro with Git</h2>
<p>Git provides an easy way to merge changes from Jumpstart Pro into your application. This is handy when new features or improvements are added to Jumpstart Pro and you'd like to merge them into your application.</p>

<h4>Clone Jumpstart Pro</h4>
<p>First, you'll need to clone Jumpstart Pro from GitHub when you create your application. We'll call our application <code>my-app</code>, but you should change it to your application name.</p>

<div class="not-prose">
  <pre class="lang-bash"><code>git clone git@github.com:jumpstart-pro/jumpstart-pro-rails.git my-app
cd my-app
git remote rename origin jumpstart</code></pre>
</div>

<p class="text-sm">This example shows the Rails repository, but you'll want to change this for iOS or Android.</p>

<h4>Create a git repository</h4>
<p>Now that we have a clone of Jumpstart Pro, we need to create a GitHub repository to host our application.</p>

<p class="flex gap-2">
  <%= link_to "GitHub", "https://github.com/new", target: :_blank, class: "btn btn-white" %>
  <%= link_to "GitLab", "https://gitlab.com/projects/new", target: :_blank, class: "btn btn-white" %>
  <%= link_to "BitBucket", "https://bitbucket.org/repo/create", target: :_blank, class: "btn btn-white" %>
</p>

<p>We can then set <code>origin</code> to point to our new repository and push the code up to it.</p>

<div class="not-prose">
  <pre class="lang-bash"><code>git remote add origin git@github.com:your-account/your-new-repo.git
git push -u origin main</code></pre>
</div>

<h4>Merging updates from Jumpstart Pro</h4>
<p>We'll use git to fetch and merge updates into your application.</p>

<div class="not-prose">
  <pre class="lang-bash"><code>git fetch jumpstart
git merge jumpstart/main</code></pre>
</div>
