<% content_for :section_title, "Users" %>

<p class="text-xl text-gray-700 leading-normal">Jumpstart provides several pieces of functionality for users to make developing applications easier.</p>

<%= h2_with_anchor "Admins" %>
<p>Users with the <code>admin</code> flag set to <code>true</code> will be allowed to access the application's admin interface (built with Administrate), Sidekiq web UI, and more.</p>
<p>To set a user as an admin, simply update their admin flag: <code>Jumpstart.grant_system_admin! user</code> from the Rails console.</p>
<p>You can check this flag if you would like to restrict any functionality only to admin users.</p>

<%= h2_with_anchor "Personal Accounts" %>
<p>Every user has a personal account that's only usable by themselves, so you can easily associate resources to accounts and still have private resources to a user.</p>
<p>Make sure to add <code>account:references</code> when generating your models.</p>
<p>If you'd like a resource to be shared across a Account, you can scope your controllers to the current account so the resources are shared between users in the associated account.</p>

<%= h2_with_anchor "Account Roles" %>
<p>Users can be assigned a role for each account they are a part of. By default, we only provide an <code>admin</code> role, but you can add more rules in <code>app/models/account_user.rb</code>. These roles will be listed in the UI when adding or editing a account member.</p>
<p>You can check the role on the account member to restrict access to certain functionality on the account as needed.</p>

<%= h2_with_anchor "OAuth Connected Accounts" %>
<p>Users can sign up or login with connected accounts. We automatically add links based upon which OmniAuth providers are enabled. By default, Jumpstart has options for a few OmniAuth providers, but you're free to add other providers and they will be automatically added to parts of the UI.</p>
