<% content_for :section_title, "Wells" %>

<%= h2_with_anchor "Default" %>
<%= render "jumpstart/docs/snippet" do %>
  <div class="bg-gray-100 dark:bg-gray-700 text-center lg:p-16 p-8 rounded-lg max-w-3xl my-4">
    <h2 class="text-black dark:text-gray-50 lg:text-4xl text-xl lg:mb-4 mb-2">Empty state well title</h2>
    <p class=" text-gray-700 dark:text-gray-200 lg:text-xl text-base leading-normal">Description for the empty state running across a couple of lines. Nullam quis risus eget urn. Posuere consectetur est at lobortis. <a href="#" class="link">Learn More</a></p>
  </div>
<% end %>
