@import 'highlight.js/styles/github.css';
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

.browser-script-screen {
  overflow: auto;
  height: 100%;
  padding: 20px;
  > * {
    margin: 20px 0;
  }

  button {
    @apply btn btn-primary;
  }

  input:not([type="file"]):not([type="radio"]):not([type="checkbox"]):not([type="color"]) {
    @apply w-full input input-bordered;
  }

  input[type="checkbox"] {  
    @apply checkbox;
  }  

  input[type="file"] {  
    @apply w-full file-input file-input-bordered;
  }  
    


  iframe {
    @apply w-full h-auto;
  }
  label {
    @apply block text-lg;
  }
  textarea {
    @apply w-full textarea textarea-bordered;
  }

  .kit--input input {
    @apply w-full;
  }

  .kit--button {
    @apply btn btn-primary btn-outline;
  }

  .pointer {
    cursor: pointer;
  }

  label {
    margin-bottom: 5px;
  }

  .hljs {
    background-color: transparent !important;
    padding: 0 !important;
  }

  pre code {
    padding: 0 !important;
  }

  .kit--code .copy-bar {
    @apply text-right text-xl	text-info-content;
  }

  .kit--fileinput {
    label {
      display: block;
    }

    .file-label {
      min-width: 80px;
    }
  }

  .kit--dateinput label {
    display: block;
  }

  .kit--timeinput label {
    display: block;
  }

  .kit--radio input {
    margin-right: 5px;
  }

  .kit--select label {
    display: block;
  }

  .kit--colorinput {
    label {
      display: block;
    }
    input[type="color"] {
      -webkit-appearance: none;
      border: none;
      background-color: transparent;
      width: 32px;
      height: 32px;
    }
    input[type="color"]::-webkit-color-swatch-wrapper {
      padding: 0;
      border-radius: 8px;
    }
    input[type="color"]::-webkit-color-swatch {
      border: none;
      border-radius: 8px;
    }
  }

  .kit--checkbox {
    label {
      margin-right: 5px;
    }
  }

  .kit--button {
    display: block;
  }

  .kit--imageitem {
    display: block;
  }

  .kit--videoitem {
    display: block;
  }

  .kit--audioitem {
    display: block;
  }

  .kit--canvas {
    border: 1px solid #95a5a6;
    border-radius: 5px;
  }
}